# hostname:port:database:username:password
{{ genesis_postgresql_host }}:{{ genesis_postgresql_port }}:{{ genesis_postgresql_database }}:{{ genesis_postgresql_user }}:{{ genesis_postgresql_password }}
